extends layout

block content
  h1 #{title}: #{bookinstance.book}

    div(style='margin-left:20px;margin-top:20px')

    p Do you really want to delete this Book instance?

    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete
